* {
  padding: 0;
  margin: 0; }

.timetable {
  background-color: #1c1c1c;
  height: 390px;
  /*sectiunea principala care se intinde pe toata latimea ecranului si are 
  bkg color si 2 inltimi specificate una pentru ecrane mari si una de la ecrane 
  medii in jos cand diviziunile trec de pe orizontala pe vertical*/ }
  @media (max-width: 992px) {
    .timetable {
      height: 780px; } }
  .timetable .timetable-container {
    display: flex;
    gap: 20px;
    height: 100%;
    /*containerul din sectiune are paddingul si marginul aferent bootstrap care
    este variabil si are display flex plus 2 com de layout alaturi de comportamentul
    pt ecrane medii*/ }
    @media (max-width: 992px) {
      .timetable .timetable-container {
        flex-direction: column;
        gap: 0; } }
    .timetable .timetable-container .timetable-container-item1 {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /*primul item din din container contine 2 div uri verticale si centrate 
      cu display flex si are com flex 1 care ii spune sa ocupe tot spatiul care 
      se poate ocupa*/
      /*titlul din primului item*/ }
      .timetable .timetable-container .timetable-container-item1 .timetable-title {
        margin-bottom: 24px; }
        .timetable .timetable-container .timetable-container-item1 .timetable-title h2 {
          color: #fefaec;
          font-family: Nobile;
          font-size: 36px;
          font-weight: 500;
          line-height: 54px;
          margin-bottom: 0; }
      .timetable .timetable-container .timetable-container-item1 .timetable-text {
        display: flex;
        justify-content: space-between;
        max-width: 390px;
        /*tabelul din primul item are display flex si 2 diviziui orizontale si  
      o lungime maxima iar diviziunile au comande de a lasa spatiu intre ele 
      cat este posibil (nu este un tabel propriuzis)*/
        /*paragrafele din cele 2 tabele cu zile si cu intervale vor fi afisate 
        pe verticala*/ }
        .timetable .timetable-container .timetable-container-item1 .timetable-text p {
          margin-bottom: 8px;
          color: #fefaec;
          font-family: Mulish;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px; }
          .timetable .timetable-container .timetable-container-item1 .timetable-text p:last-child {
            margin-bottom: 0; }
        .timetable .timetable-container .timetable-container-item1 .timetable-text .timetable-days,
        .timetable .timetable-container .timetable-container-item1 .timetable-text .timetable-intervals {
          display: inline-block; }
    .timetable .timetable-container .timetable-container-item2 {
      flex: 1;
      position: relative;
      /*Toate imaginile vor avea container si clasa pasta-img cu exceptia 
      primelor 6 elemente care au o singura imagine si e pusa clasa direct pe
      container*/
      /*4 din cele cinci group cu macaron au 2 poze dintre care una e in
      dreapta si se afla in dreapta jos fata de container*/ }
      @media (max-width: 992px) {
        .timetable .timetable-container .timetable-container-item2 {
          border-top: 2px groove #db9f55; } }
      .timetable .timetable-container .timetable-container-item2 .pasta-img {
        position: absolute; }
      .timetable .timetable-container .timetable-container-item2 .macaroni-right-img {
        right: 0;
        bottom: 0; }
      .timetable .timetable-container .timetable-container-item2 .group1-absolute {
        top: 38%; }
      .timetable .timetable-container .timetable-container-item2 .group2-absolute {
        bottom: 0;
        right: 0; }
      .timetable .timetable-container .timetable-container-item2 .group3-absolute {
        left: 42%;
        bottom: 10%;
        transform: scaleX(-1); }
      .timetable .timetable-container .timetable-container-item2 .group4-absolute {
        right: 17%;
        top: 34%;
        transform: scaleX(-1); }
      .timetable .timetable-container .timetable-container-item2 .group5-absolute {
        right: 35%;
        top: 1%; }
      .timetable .timetable-container .timetable-container-item2 .group6-absolute {
        left: 22%; }
      .timetable .timetable-container .timetable-container-item2 .group7-absolute {
        width: 72px;
        height: 36px;
        bottom: 0;
        left: 10%; }
        .timetable .timetable-container .timetable-container-item2 .group7-absolute .group7-body-top {
          bottom: 0;
          left: 44%; }
        .timetable .timetable-container .timetable-container-item2 .group7-absolute .group7-body-bottom {
          bottom: 0;
          left: 34%; }
      .timetable .timetable-container .timetable-container-item2 .group8-absolute {
        width: 72px;
        height: 68px;
        top: 31%;
        left: 27%; }
        .timetable .timetable-container .timetable-container-item2 .group8-absolute .group8-body-top {
          bottom: 45%;
          left: 43%; }
        .timetable .timetable-container .timetable-container-item2 .group8-absolute .group8-body-bottom {
          bottom: 30%;
          left: 29%; }
      .timetable .timetable-container .timetable-container-item2 .group9-absolute {
        width: 72px;
        height: 67px;
        top: 44%;
        right: 36%; }
        .timetable .timetable-container .timetable-container-item2 .group9-absolute .group9-body-top {
          bottom: 47%;
          left: 40%; }
        .timetable .timetable-container .timetable-container-item2 .group9-absolute .group9-body-bottom {
          bottom: 30%;
          left: 29%; }
      .timetable .timetable-container .timetable-container-item2 .group10-absolute {
        width: 69px;
        height: 64px;
        right: 1.4%;
        bottom: 18%; }
        .timetable .timetable-container .timetable-container-item2 .group10-absolute .group10-body-top {
          bottom: 50%;
          left: 26%; }
        .timetable .timetable-container .timetable-container-item2 .group10-absolute .group10-body-bottom {
          bottom: 29%;
          left: 33%; }
      .timetable .timetable-container .timetable-container-item2 .group11-absolute {
        width: 69px;
        height: 32px;
        right: 17.5%; }
        .timetable .timetable-container .timetable-container-item2 .group11-absolute .group11-body-bottom {
          left: 36%; }
      .timetable .timetable-container .timetable-container-item2 .group12-absolute {
        width: 65px;
        height: 50px;
        top: 16%;
        left: 8%; }
      .timetable .timetable-container .timetable-container-item2 .group13-absolute {
        width: 65px;
        height: 50px;
        bottom: 29%;
        left: 21%; }
      .timetable .timetable-container .timetable-container-item2 .group14-absolute {
        width: 65px;
        height: 50px;
        left: 46%;
        top: 19%; }
      .timetable .timetable-container .timetable-container-item2 .group15-absolute {
        width: 65px;
        height: 50px;
        right: 28%;
        bottom: 25%; }
        .timetable .timetable-container .timetable-container-item2 .group15-absolute .group15-left {
          bottom: 0; }
        .timetable .timetable-container .timetable-container-item2 .group15-absolute .group15-right {
          right: 0; }
      .timetable .timetable-container .timetable-container-item2 .group16-absolute {
        width: 65px;
        height: 50px;
        right: 5%;
        top: 23%; }
