* {
  padding: 0;
  margin: 0;
}

.value {
  background: #1C1C1C;
  width: 1920px;
  height: 414px;



  .container {
    padding: 95px 0 95px 0;
    justify-content: space-evenly;
    margin: 0 360px 0 360px;
    align-items: center;
  }

  .card1 {
    width: 211px;
    height: 223px;


    img {
      width: 123px;
      height: 141px;
      margin: 0 45px 49px 45px;

    }

    p {
      font-family: Mulish;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #FEFAEC;


    }
  }
}

.card2 {
  width: 188px;
  height: 223px;
  text-align: center;

  img {
    width: 159px;
    height: 141px;
    margin: 0 14px 49px 15px;
  }

  p {
    font-family: Mulish, sans serif;
    font-size: 24px;
    line-height: 32.4px;
    color: #FEFAEC;
  }

}


.card3 {
  width: 214px;
  height: 223px;
  text-align: center;

  img {
    width: 159px;
    height: 141px;
    margin: 0 37px 49px 37px;
  }

  p {
    font-family: Mulish;
    font-size: 24px;
    line-height: 32.4px;
    color: #FEFAEC;



  }
}







/* Banner */

.banner {
  background-size: cover;
  /* background-size: 100% 100%;
  background-repeat: no-repeat; */
  background-image: url("./image.png");
  height: 952px;
  display: flex;
  align-items: center;

}

.wrapper {
  text-align: left;
  margin-left: 360px;

}

h2 {
  font-size: 48px;
  font-weight: 700px;
  font-style: normal;
  color: #FEFAEC;
  text-align: left;
  line-height: 64.8px;
  font-family: "Nobile", sans-serif;
}

.button-comanda {
  font-family: "Mulish", sans-serif;
  margin-top: 48px;
  width: 165px;
  height: 56px;
  border-radius: 4px;
  padding: 18px 24px;
  background-color: #DB9F55;
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 400px;
  line-height: 20.08px;
  display: inline-block;
}


.navbar-div {
  display: flex;
  align-items: center;

}

#logo {
  align-self: flex-start;
}

.meniu {
  align-self: flex-end;
}

.navbar {
  font-family: "Mulish", sans-serif;
  background-color: #1c1c1c;
  height: 96px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);

  .logo {
    width: 163.56px;
    height: 64px;
  }

  a {
    text-decoration: none;
    color: #FEFAEC;
    font-weight: 400;
    font-size: 16px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 0;
    margin: 0;
  }
}