.most-popular {
  background-color: #1c1c1c;
  width: 100%;
  height: 846px; }
  .most-popular .products h3 {
    font-family: "Nobile", sans-serif;
    color: #fefaec;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    padding-top: 96px;
    margin-bottom: 48px;
    padding-left: 6px; }
  .most-popular .products .cards-wrapper {
    display: flex;
    gap: 24px; }
  .most-popular .products .cards {
    background-color: #ffffff;
    width: 384px;
    height: 552px;
    border-radius: 5px; }
    .most-popular .products .cards img {
      width: 384px;
      height: 352px;
      border-bottom: 3px solid #db9f55;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .most-popular .products .cards .info-wrapper {
      padding: 32px; }
      .most-popular .products .cards .info-wrapper h5 {
        font-family: "Mulish", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #000;
        margin-bottom: 8px; }
      .most-popular .products .cards .info-wrapper p {
        font-family: "Mulish", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000;
        margin: 0; }
      .most-popular .products .cards .info-wrapper .price-box {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        height: 36px; }
        .most-popular .products .cards .info-wrapper .price-box p {
          font-family: "Mulish", sans-serif;
          font-weight: 700;
          font-size: 24px;
          line-height: 36px; }
        .most-popular .products .cards .info-wrapper .price-box .img-wrapper {
          width: 36px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center; }
        .most-popular .products .cards .info-wrapper .price-box img {
          width: 24px;
          height: 24px;
          border: none; }

.value {
  background: #1c1c1c;
  width: 100%;
  height: 414px; }
  .value .container {
    padding: 95px 0 95px 0;
    justify-content: space-evenly;
    margin: 0 360px 0 360px;
    align-items: center; }
  .value .card1 {
    width: 211px;
    height: 223px; }
    .value .card1 img {
      width: 123px;
      height: 141px;
      margin: 0 45px 49px 45px; }
    .value .card1 p {
      font-family: Mulish;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #fefaec; }

.card2 {
  width: 188px;
  height: 223px;
  text-align: center; }
  .card2 img {
    width: 159px;
    height: 141px;
    margin: 0 14px 49px 15px; }
  .card2 p {
    font-family: Mulish, sans serif;
    font-size: 24px;
    line-height: 32.4px;
    color: #fefaec; }

.card3 {
  width: 214px;
  height: 223px;
  text-align: center; }
  .card3 img {
    width: 159px;
    height: 141px;
    margin: 0 37px 49px 37px; }
  .card3 p {
    font-family: Mulish;
    font-size: 24px;
    line-height: 32.4px;
    color: #fefaec; }

/* Banner */
.banner {
  background-size: cover;
  /* background-size: 100% 100%;
  background-repeat: no-repeat; */
  background-image: url("./image.png");
  height: 952px;
  display: flex;
  align-items: center; }

.wrapper {
  text-align: left;
  margin-left: 360px; }

h2 {
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  color: #fefaec;
  text-align: left;
  line-height: 64.8px;
  font-family: "Nobile", sans-serif; }

.button-comanda {
  font-family: "Mulish", sans-serif;
  margin-top: 48px;
  width: 165px;
  height: 56px;
  border-radius: 4px;
  padding: 18px 24px;
  background-color: #db9f55;
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 400px;
  line-height: 20.08px;
  display: inline-block; }

.navbar-div {
  display: flex;
  align-items: center; }

#logo {
  align-self: flex-start; }

.meniu {
  align-self: flex-end; }

.navbar {
  font-family: "Mulish", sans-serif;
  background-color: #1c1c1c;
  height: 96px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25); }
  .navbar .logo {
    width: 163.56px;
    height: 64px; }
  .navbar a {
    text-decoration: none;
    color: #fefaec;
    font-weight: 400;
    font-size: 16px; }
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 0;
    margin: 0; }

/*Maria sectiune*/
.wrapper-2 {
  background-image: url("./paste-banner-2.png");
  height: 554px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .wrapper-2 span {
    font-family: "Nobile";
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    text-align: center;
    color: #fefaec;
    padding-top: 144px; }
  .wrapper-2 .btn-2 {
    color: #000000;
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 400;
    background-color: #db9f55;
    padding: 18px 24px;
    border-radius: 4px;
    margin-top: 48px;
    margin-bottom: 144px; }
    .wrapper-2 .btn-2:hover {
      background-color: #d48a3b;
      color: white; }
    .wrapper-2 .btn-2:active {
      background-color: #c67230; }

.recenziile-clientilor {
  background-color: #1c1c1c;
  height: 672px; }
  .recenziile-clientilor p {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 21.6px;
    color: #000; }
  .recenziile-clientilor .span-text {
    display: flex;
    justify-content: end; }
  .recenziile-clientilor span {
    width: 78px;
    height: 22px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 21.6px;
    color: #000; }
  .recenziile-clientilor img {
    width: 200px;
    height: 36px; }
  .recenziile-clientilor .row,
  .recenziile-clientilor .col {
    padding: 0;
    margin: 0; }
  .recenziile-clientilor h2 {
    color: #fefaec;
    margin-top: 96px;
    margin-bottom: 48px;
    height: 54px; }
  .recenziile-clientilor .r-box-1 {
    width: 384px;
    height: 378px;
    border-radius: 5px;
    padding-bottom: 96px;
    margin-right: 24px;
    background-color: #fff;
    display: flex;
    flex-direction: column; }
    .recenziile-clientilor .r-box-1 p {
      width: 320px;
      height: 132px;
      margin: 32px 32px 76px 32px;
      color: #1c1c1c; }
    .recenziile-clientilor .r-box-1 span {
      margin-right: 32px;
      margin-bottom: 48px; }
    .recenziile-clientilor .r-box-1 .star-icon {
      display: flex;
      justify-content: end; }
      .recenziile-clientilor .r-box-1 .star-icon img {
        color: #db9f55;
        margin-right: 32px;
        margin-bottom: 32px; }
  .recenziile-clientilor .r-box-2 {
    width: 384px;
    height: 378px;
    border-radius: 5px;
    padding-bottom: 96px;
    margin-right: 24px;
    background-color: #fff;
    display: flex;
    flex-direction: column; }
    .recenziile-clientilor .r-box-2 p {
      width: 320px;
      height: 176px;
      margin: 32px; }
    .recenziile-clientilor .r-box-2 span {
      display: flex;
      justify-content: end;
      margin-right: 33px;
      margin-bottom: 48px; }
    .recenziile-clientilor .r-box-2 .star-icon {
      display: flex;
      justify-content: end; }
      .recenziile-clientilor .r-box-2 .star-icon img {
        color: #db9f55;
        margin-right: 32px;
        margin-bottom: 32px; }
  .recenziile-clientilor .r-box-3 {
    width: 384px;
    height: 378px;
    border-radius: 5px;
    padding-bottom: 96px;
    background-color: #fff;
    display: flex;
    flex-direction: column; }
    .recenziile-clientilor .r-box-3 p {
      width: 320px;
      height: 88px;
      margin: 32px 32px 120px 32px; }
    .recenziile-clientilor .r-box-3 span {
      display: flex;
      justify-content: end;
      margin-right: 33px;
      margin-bottom: 48px;
      font-family: Arial, sans-serif; }
    .recenziile-clientilor .r-box-3 .star-icon {
      display: flex;
      justify-content: end; }
      .recenziile-clientilor .r-box-3 .star-icon img {
        color: #db9f55;
        margin-right: 32px;
        margin-bottom: 32px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #1c1c1c; }

p {
  margin-bottom: 0; }

img {
  width: 100%; }

.margin-bottom {
  margin-bottom: 20px; }

.postarile-noastre {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  padding-top: 198px;
  padding-bottom: 96px; }
  .postarile-noastre .secondary-heading {
    font-family: "Nobile", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #fefaec;
    margin-bottom: 48px; }
  .postarile-noastre .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px; }
    .postarile-noastre .grid-container .postare-card {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 32px;
      border-radius: 5px; }
      .postarile-noastre .grid-container .postare-card .heading-postare {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 32px 0 32px;
        font-weight: 700; }
        .postarile-noastre .grid-container .postare-card .heading-postare .instagram-logo {
          width: 24px;
          height: 24px; }
      .postarile-noastre .grid-container .postare-card .postarile-description {
        font-weight: 400;
        line-height: 20.8px;
        padding-right: 32px;
        padding-left: 33px; }
      .postarile-noastre .grid-container .postare-card .postarile-user-action {
        margin-left: 33px;
        margin-bottom: 32px;
        display: flex;
        gap: 6px; }
        .postarile-noastre .grid-container .postare-card .postarile-user-action .heart,
        .postarile-noastre .grid-container .postare-card .postarile-user-action .comment {
          display: flex;
          gap: 8px;
          align-items: center; }
          .postarile-noastre .grid-container .postare-card .postarile-user-action .heart .heart-icon,
          .postarile-noastre .grid-container .postare-card .postarile-user-action .comment .heart-icon {
            width: 21px;
            height: 18.26; }
          .postarile-noastre .grid-container .postare-card .postarile-user-action .heart .comment-icon,
          .postarile-noastre .grid-container .postare-card .postarile-user-action .comment .comment-icon {
            width: 18.3px;
            height: 18.26px; }

.timetable {
  background-color: #1c1c1c;
  height: 390px;
  /*sectiunea principala care se intinde pe toata latimea ecranului si are 
  bkg color si 2 inltimi specificate una pentru ecrane mari si una de la ecrane 
  medii in jos cand diviziunile trec de pe orizontala pe vertical*/ }
  @media (max-width: 992px) {
    .timetable {
      height: 780px; } }
  .timetable .timetable-container {
    display: flex;
    gap: 20px;
    height: 100%;
    /*containerul din sectiune are paddingul si marginul aferent bootstrap care
    este variabil si are display flex plus 2 com de layout alaturi de comportamentul
    pt ecrane medii*/ }
    @media (max-width: 992px) {
      .timetable .timetable-container {
        flex-direction: column;
        gap: 0; } }
    .timetable .timetable-container .timetable-container-item1 {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /*primul item din din container contine 2 div uri verticale si centrate 
      cu display flex si are com flex 1 care ii spune sa ocupe tot spatiul care 
      se poate ocupa*/
      /*titlul din primului item*/ }
      .timetable .timetable-container .timetable-container-item1 .timetable-title {
        margin-bottom: 24px; }
        .timetable .timetable-container .timetable-container-item1 .timetable-title h2 {
          color: #fefaec;
          font-family: Nobile;
          font-size: 36px;
          font-weight: 500;
          line-height: 54px;
          margin-bottom: 0; }
      .timetable .timetable-container .timetable-container-item1 .timetable-text {
        display: flex;
        justify-content: space-between;
        max-width: 390px;
        /*tabelul din primul item are display flex si 2 diviziui orizontale si  
      o lungime maxima iar diviziunile au comande de a lasa spatiu intre ele 
      cat este posibil (nu este un tabel propriuzis)*/
        /*paragrafele din cele 2 tabele cu zile si cu intervale vor fi afisate 
        pe verticala*/ }
        .timetable .timetable-container .timetable-container-item1 .timetable-text p {
          margin-bottom: 8px;
          color: #fefaec;
          font-family: Mulish;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px; }
          .timetable .timetable-container .timetable-container-item1 .timetable-text p:last-child {
            margin-bottom: 0; }
        .timetable .timetable-container .timetable-container-item1 .timetable-text .timetable-days,
        .timetable .timetable-container .timetable-container-item1 .timetable-text .timetable-intervals {
          display: inline-block; }
    .timetable .timetable-container .timetable-container-item2 {
      flex: 1;
      position: relative;
      /*Toate imaginile vor avea container si clasa pasta-img cu exceptia 
      primelor 6 elemente care au o singura imagine si e pusa clasa direct pe
      container*/
      /*4 din cele cinci group cu macaron au 2 poze dintre care una e in
      dreapta si se afla in dreapta jos fata de container*/ }
      @media (max-width: 992px) {
        .timetable .timetable-container .timetable-container-item2 {
          border-top: 2px groove #db9f55; } }
      .timetable .timetable-container .timetable-container-item2 .pasta-img {
        position: absolute; }
      .timetable .timetable-container .timetable-container-item2 .macaroni-right-img {
        right: 0;
        bottom: 0; }
      .timetable .timetable-container .timetable-container-item2 .group1-absolute {
        width: 68px;
        top: 38%; }
      .timetable .timetable-container .timetable-container-item2 .group2-absolute {
        width: 68px;
        bottom: 0;
        right: 0; }
      .timetable .timetable-container .timetable-container-item2 .group3-absolute {
        width: 68px;
        left: 42%;
        bottom: 10%;
        transform: scaleX(-1); }
      .timetable .timetable-container .timetable-container-item2 .group4-absolute {
        width: 68px;
        right: 17%;
        top: 34%;
        transform: scaleX(-1); }
      .timetable .timetable-container .timetable-container-item2 .group5-absolute {
        width: 68px;
        right: 35%;
        top: 1%; }
      .timetable .timetable-container .timetable-container-item2 .group6-absolute {
        width: 64px;
        left: 22%; }
      .timetable .timetable-container .timetable-container-item2 .group7-absolute {
        width: 72px;
        height: 36px;
        bottom: 0;
        left: 10%; }
        .timetable .timetable-container .timetable-container-item2 .group7-absolute .group7-body-top {
          width: 22px;
          bottom: 0;
          left: 44%; }
        .timetable .timetable-container .timetable-container-item2 .group7-absolute .group7-body-bottom {
          width: 22px;
          bottom: 0;
          left: 34%; }
      .timetable .timetable-container .timetable-container-item2 .group8-absolute {
        width: 72px;
        height: 68px;
        top: 31%;
        left: 27%; }
        .timetable .timetable-container .timetable-container-item2 .group8-absolute .group8-body-top {
          width: 22px;
          bottom: 45%;
          left: 43%; }
        .timetable .timetable-container .timetable-container-item2 .group8-absolute .group8-body-bottom {
          width: 22px;
          bottom: 30%;
          left: 29%; }
      .timetable .timetable-container .timetable-container-item2 .group9-absolute {
        width: 72px;
        height: 67px;
        top: 44%;
        right: 36%; }
        .timetable .timetable-container .timetable-container-item2 .group9-absolute .group9-body-top {
          width: 22px;
          bottom: 47%;
          left: 40%; }
        .timetable .timetable-container .timetable-container-item2 .group9-absolute .group9-body-bottom {
          width: 22px;
          bottom: 30%;
          left: 29%; }
      .timetable .timetable-container .timetable-container-item2 .group10-absolute {
        width: 69px;
        height: 64px;
        right: 1.4%;
        bottom: 18%; }
        .timetable .timetable-container .timetable-container-item2 .group10-absolute .group10-body-top {
          width: 25px;
          bottom: 50%;
          left: 26%; }
        .timetable .timetable-container .timetable-container-item2 .group10-absolute .group10-body-bottom {
          width: 24px;
          bottom: 29%;
          left: 33%; }
      .timetable .timetable-container .timetable-container-item2 .group11-absolute {
        width: 69px;
        height: 32px;
        right: 17.5%; }
        .timetable .timetable-container .timetable-container-item2 .group11-absolute .group11-body-bottom {
          width: 24px;
          left: 36%; }
      .timetable .timetable-container .timetable-container-item2 .group12-absolute {
        width: 65px;
        height: 50px;
        top: 16%;
        left: 8%; }
        .timetable .timetable-container .timetable-container-item2 .group12-absolute .group12-left {
          width: 29px; }
        .timetable .timetable-container .timetable-container-item2 .group12-absolute .group12-right {
          width: 34px; }
      .timetable .timetable-container .timetable-container-item2 .group13-absolute {
        width: 65px;
        height: 50px;
        bottom: 29%;
        left: 21%; }
        .timetable .timetable-container .timetable-container-item2 .group13-absolute .group13-left {
          width: 29px; }
        .timetable .timetable-container .timetable-container-item2 .group13-absolute .group13-right {
          width: 34px; }
      .timetable .timetable-container .timetable-container-item2 .group14-absolute {
        width: 65px;
        height: 50px;
        left: 46%;
        top: 19%; }
        .timetable .timetable-container .timetable-container-item2 .group14-absolute .group14-left {
          width: 29px; }
        .timetable .timetable-container .timetable-container-item2 .group14-absolute .group14-right {
          width: 34px; }
      .timetable .timetable-container .timetable-container-item2 .group15-absolute {
        width: 65px;
        height: 50px;
        right: 28%;
        bottom: 25%; }
        .timetable .timetable-container .timetable-container-item2 .group15-absolute .group15-left {
          width: 38px;
          bottom: 0; }
        .timetable .timetable-container .timetable-container-item2 .group15-absolute .group15-right {
          width: 34px;
          right: 0; }
      .timetable .timetable-container .timetable-container-item2 .group16-absolute {
        width: 65px;
        height: 50px;
        right: 5%;
        top: 23%; }
        .timetable .timetable-container .timetable-container-item2 .group16-absolute .group16-left {
          width: 29px; }
        .timetable .timetable-container .timetable-container-item2 .group16-absolute .group16-right {
          width: 34px; }
