* {
  padding: 0;
  margin: 0;
}
.value{
  background:  #1C1C1C;
   width: 1920px;
   height: 414px;
  


  .container{
  padding: 95px 0 95px 0;
  justify-content: space-evenly;
  margin: 0 360px 0 360px;
  align-items: center;
}
.card1{
  width:211px;
  height:223px;
  

img{
  width: 123px;
  height: 141px;
  margin: 0 45px 49px 45px;
  
}
p{
font-family: Mulish;
font-size: 24px;
line-height: 32px;
text-align: center;
color: #FEFAEC;


}
}
}
.card2{
width: 188px;
height: 223px;
text-align: center;
 
img{
width: 159px;
height: 141px;
margin: 0 14px 49px 15px;
}

p{
font-family: Mulish, sans serif;
font-size: 24px;
line-height: 32.4px;
color: #FEFAEC;
}

}


.card3{
 width: 214px;
 height: 223px;
 text-align: center;

 img{
   width: 159px;
 height: 141px;
 margin: 0 37px 49px 37px;
 }
 
 p{
 font-family: Mulish;
 font-size: 24px;
 line-height: 32.4px;
 color: #FEFAEC;
 


 }
 }
 
 
 


