.most-popular {
  background-color: #1c1c1c;
  width: 100%;
  height: 846px;

  .products {
    h3 {
      font-family: "Nobile", sans-serif;
      color: #fefaec;
      font-weight: 500;
      font-size: 36px;
      line-height: 54px;
      padding-top: 96px;
      margin-bottom: 48px;
      padding-left: 6px;
    }

    .cards-wrapper {
      display: flex;
      gap: 24px;
    }

    .cards {
      background-color: #ffffff;
      width: 384px;
      height: 552px;
      border-radius: 5px;

      img {
        width: 384px;
        height: 352px;
        border-bottom: 3px solid #db9f55;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .info-wrapper {
        padding: 32px;

        h5 {
          font-family: "Mulish", sans-serif;
          font-weight: 700;
          font-size: 24px;
          line-height: 36px;
          color: #000;
          margin-bottom: 8px;
        }

        p {
          font-family: "Mulish", sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #000;
          margin: 0;
        }

        .price-box {
          display: flex;
          justify-content: space-between;
          margin-top: 32px;
          height: 36px;

          p {
            font-family: "Mulish", sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
          }

          .img-wrapper {
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          img {
            width: 24px;
            height: 24px;
            border: none;
          }
        }
      }
    }
  }
}

.value {
  background: #1c1c1c;
  width: 100%;
  height: 414px;

  .container {
    padding: 95px 0 95px 0;
    justify-content: space-evenly;
    margin: 0 360px 0 360px;
    align-items: center;
  }

  .card1 {
    width: 211px;
    height: 223px;

    img {
      width: 123px;
      height: 141px;
      margin: 0 45px 49px 45px;
    }

    p {
      font-family: Mulish;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #fefaec;
    }
  }
}

.card2 {
  width: 188px;
  height: 223px;
  text-align: center;

  img {
    width: 159px;
    height: 141px;
    margin: 0 14px 49px 15px;
  }

  p {
    font-family: Mulish, sans serif;
    font-size: 24px;
    line-height: 32.4px;
    color: #fefaec;
  }
}

.card3 {
  width: 214px;
  height: 223px;
  text-align: center;

  img {
    width: 159px;
    height: 141px;
    margin: 0 37px 49px 37px;
  }

  p {
    font-family: Mulish;
    font-size: 24px;
    line-height: 32.4px;
    color: #fefaec;
  }
}

/* Banner */

.banner {
  background-size: cover;
  /* background-size: 100% 100%;
  background-repeat: no-repeat; */
  background-image: url("./image.png");
  height: 952px;
  display: flex;
  align-items: center;
}

.wrapper {
  text-align: left;
  margin-left: 360px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  color: #fefaec;
  text-align: left;
  line-height: 64.8px;
  font-family: "Nobile", sans-serif;
}

.button-comanda {
  font-family: "Mulish", sans-serif;
  margin-top: 48px;
  width: 165px;
  height: 56px;
  border-radius: 4px;
  padding: 18px 24px;
  background-color: #db9f55;
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 400px;
  line-height: 20.08px;
  display: inline-block;
}

.navbar-div {
  display: flex;
  align-items: center;
}

#logo {
  align-self: flex-start;
}

.meniu {
  align-self: flex-end;
}

.navbar {
  font-family: "Mulish", sans-serif;
  background-color: #1c1c1c;
  height: 96px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);

  .logo {
    width: 163.56px;
    height: 64px;
  }

  a {
    text-decoration: none;
    color: #fefaec;
    font-weight: 400;
    font-size: 16px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 0;
    margin: 0;
  }
}

/*Maria sectiune*/
.wrapper-2 {
  background-image: url("./paste-banner-2.png");
  height: 554px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-family: "Nobile";
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    text-align: center;
    color: #fefaec;
    padding-top: 144px;
  }

  .btn-2 {
    color: #000000;
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 400;
    background-color: #db9f55;
    padding: 18px 24px;
    border-radius: 4px;
    margin-top: 48px;
    margin-bottom: 144px;

    &:hover {
      background-color: #d48a3b;
      color: white;
    }

    &:active {
      background-color: #c67230;
    }
  }
}

.recenziile-clientilor {
  background-color: #1c1c1c;
  height: 672px;

  p {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 21.6px;
    color: #000;
  }

  .span-text {
    display: flex;
    justify-content: end;
  }

  span {
    width: 78px;
    height: 22px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 21.6px;
    color: #000;
  }

  img {
    width: 200px;
    height: 36px;
  }

  .row,
  .col {
    padding: 0;
    margin: 0;
  }

  h2 {
    color: #fefaec;
    margin-top: 96px;
    margin-bottom: 48px;
    height: 54px;
  }

  .r-box-1 {
    width: 384px;
    height: 378px;
    border-radius: 5px;
    padding-bottom: 96px;
    margin-right: 24px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    p {
      width: 320px;
      height: 132px;
      margin: 32px 32px 76px 32px;
      color: #1c1c1c;
    }

    span {
      margin-right: 32px;
      margin-bottom: 48px;
    }

    .star-icon {
      display: flex;
      justify-content: end;

      img {
        color: #db9f55;
        margin-right: 32px;
        margin-bottom: 32px;
      }
    }
  }

  .r-box-2 {
    width: 384px;
    height: 378px;
    border-radius: 5px;
    padding-bottom: 96px;
    margin-right: 24px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    p {
      width: 320px;
      height: 176px;
      margin: 32px;
    }

    span {
      display: flex;
      justify-content: end;
      margin-right: 33px;
      margin-bottom: 48px;
    }

    .star-icon {
      display: flex;
      justify-content: end;

      img {
        color: #db9f55;
        margin-right: 32px;
        margin-bottom: 32px;
      }
    }
  }

  .r-box-3 {
    width: 384px;
    height: 378px;
    border-radius: 5px;
    padding-bottom: 96px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    p {
      width: 320px;
      height: 88px;
      margin: 32px 32px 120px 32px;
    }

    span {
      display: flex;
      justify-content: end;
      margin-right: 33px;
      margin-bottom: 48px;
      font-family: Arial, sans-serif;
    }

    .star-icon {
      display: flex;
      justify-content: end;

      img {
        color: #db9f55;
        margin-right: 32px;
        margin-bottom: 32px;
      }
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
}

p {
  margin-bottom: 0;
}

img {
  width: 100%;
}

//  Handy classes
.margin-bottom {
  margin-bottom: 20px;
}

.postarile-noastre {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  margin-top: 198px;
  margin-bottom: 96px;

  .secondary-heading {
    font-family: "Nobile", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #fefaec;
    margin-bottom: 48px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    .postare-card {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 32px;
      border-radius: 5px;

      .heading-postare {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 32px 0 32px;
        font-weight: 700;

        .instagram-logo {
          width: 24px;
          height: 24px;
        }
      }

      .postarile-description {
        font-weight: 400;
        line-height: 20.8px;
        padding-right: 32px;
        padding-left: 33px;
      }

      .postarile-user-action {
        margin-left: 33px;
        margin-bottom: 32px;
        display: flex;
        gap: 6px;

        .heart,
        .comment {
          display: flex;
          gap: 8px;
          align-items: center;

          .heart-icon {
            width: 21px;
            height: 18.26;
          }

          .comment-icon {
            width: 18.3px;
            height: 18.26px;
          }
        }
      }
    }
  }
}

.timetable {
  background-color: #1c1c1c;
  height: 390px;

  @media (max-width: 992px) {
    height: 780px;
  }

  /*sectiunea principala care se intinde pe toata latimea ecranului si are 
  bkg color si 2 inltimi specificate una pentru ecrane mari si una de la ecrane 
  medii in jos cand diviziunile trec de pe orizontala pe vertical*/
  .timetable-container {
    display: flex;
    gap: 20px;
    height: 100%;

    @media (max-width: 992px) {
      flex-direction: column;
      gap: 0;
    }

    /*containerul din sectiune are paddingul si marginul aferent bootstrap care
    este variabil si are display flex plus 2 com de layout alaturi de comportamentul
    pt ecrane medii*/
    .timetable-container-item1 {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      /*primul item din din container contine 2 div uri verticale si centrate 
      cu display flex si are com flex 1 care ii spune sa ocupe tot spatiul care 
      se poate ocupa*/
      .timetable-title {
        margin-bottom: 24px;

        h2 {
          color: #fefaec;
          font-family: Nobile;
          font-size: 36px;
          font-weight: 500;
          line-height: 54px;
          margin-bottom: 0;
        }
      }

      /*titlul din primului item*/
      .timetable-text {
        display: flex;
        justify-content: space-between;
        max-width: 390px;

        /*tabelul din primul item are display flex si 2 diviziui orizontale si  
      o lungime maxima iar diviziunile au comande de a lasa spatiu intre ele 
      cat este posibil (nu este un tabel propriuzis)*/
        p {
          margin-bottom: 8px;
          color: #fefaec;
          font-family: Mulish;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .timetable-days,
        .timetable-intervals {
          display: inline-block;
        }

        /*paragrafele din cele 2 tabele cu zile si cu intervale vor fi afisate 
        pe verticala*/
      }
    }

    .timetable-container-item2 {
      flex: 1;
      position: relative;

      @media (max-width: 992px) {
        border-top: 2px groove #db9f55;
      }

      .pasta-img {
        position: absolute;
      }

      /*Toate imaginile vor avea container si clasa pasta-img cu exceptia 
      primelor 6 elemente care au o singura imagine si e pusa clasa direct pe
      container*/
      .macaroni-right-img {
        right: 0;
        bottom: 0;
      }

      /*4 din cele cinci group cu macaron au 2 poze dintre care una e in
      dreapta si se afla in dreapta jos fata de container*/
      .group1-absolute {
        width: 68px;
        top: 38%;

        img {
          width: 68px;
        }
      }

      .group2-absolute {
        width: 68px;
        bottom: 0;
        right: 0;

        img {
          width: 68px;
        }
      }

      .group3-absolute {
        width: 68px;
        left: 42%;
        bottom: 10%;
        transform: scaleX(-1);

        img {
          width: 68px;
        }
      }

      .group4-absolute {
        width: 68px;
        right: 17%;
        top: 34%;
        transform: scaleX(-1);

        img {
          width: 68px;
        }
      }

      .group5-absolute {
        width: 68px;
        right: 35%;
        top: 1%;

        img {
          width: 68px;
        }
      }

      .group6-absolute {
        width: 64px;
        left: 22%;

        img {
          width: 64px;
        }
      }

      .group7-absolute {
        width: 72px;
        height: 36px;
        bottom: 0;
        left: 10%;

        .group7-body {
          width: 72px;
        }

        .group7-body-top {
          width: 22px;
          bottom: 0;
          left: 44%;
        }

        .group7-body-bottom {
          width: 22px;
          bottom: 0;
          left: 34%;
        }
      }

      .group8-absolute {
        width: 72px;
        height: 68px;
        top: 31%;
        left: 27%;

        .group8-body {
          width: 72px;
        }

        .group8-body-top {
          width: 22px;
          bottom: 45%;
          left: 43%;
        }

        .group8-body-bottom {
          width: 22px;
          bottom: 30%;
          left: 29%;
        }
      }

      .group9-absolute {
        width: 72px;
        height: 67px;
        top: 44%;
        right: 36%;

        .group9-body {
          width: 72px;
        }

        .group9-body-top {
          width: 22px;
          bottom: 47%;
          left: 40%;
        }

        .group9-body-bottom {
          width: 22px;
          bottom: 30%;
          left: 29%;
        }
      }

      .group10-absolute {
        width: 69px;
        height: 64px;
        right: 1.4%;
        bottom: 18%;

        .group10-body {
          width: 69px;
        }

        .group10-body-top {
          width: 25px;
          bottom: 50%;
          left: 26%;
        }

        .group10-body-bottom {
          width: 24px;
          bottom: 29%;
          left: 33%;
        }
      }

      .group11-absolute {
        width: 69px;
        height: 32px;
        right: 17.5%;

        .group11-body {
          width: 69px;
        }

        .group11-body-bottom {
          width: 24px;
          left: 36%;
        }
      }

      .group12-absolute {
        width: 65px;
        height: 50px;
        top: 16%;
        left: 8%;

        .group12-left {
          width: 29px;
        }

        .group12-right {
          width: 34px;
        }
      }

      .group13-absolute {
        width: 65px;
        height: 50px;
        bottom: 29%;
        left: 21%;

        .group13-left {
          width: 29px;
        }

        .group13-right {
          width: 34px;
        }
      }

      .group14-absolute {
        width: 65px;
        height: 50px;
        left: 46%;
        top: 19%;

        .group14-left {
          width: 29px;
        }

        .group14-right {
          width: 34px;
        }
      }

      .group15-absolute {
        width: 65px;
        height: 50px;
        right: 28%;
        bottom: 25%;

        .group15-left {
          width: 38px;
          bottom: 0;
        }

        .group15-right {
          width: 34px;
          right: 0;
        }
      }

      .group16-absolute {
        width: 65px;
        height: 50px;
        right: 5%;
        top: 23%;

        .group16-left {
          width: 29px;
        }

        .group16-right {
          width: 34px;
        }
      }
    }
  }
}

footer {
  text-align: center;
  padding: 100px 0;
  border-top: 3px solid #777;

  span {
    line-height: 100px;
    display: inline-block;
    color: white;
  }

  img {
    height: 100px;
    margin-left: 30px;
    width: auto;
  }
}

.contact {
  padding-bottom: 50px;

  h3 {
    color: wheat;
    text-align: center;
  }
}

.locatie {
  padding: 118px 0 72px 0;
  background-image: url(./harta.png);
  background-size: cover;

  &__info {
    font-family: "Mulish", sans-serif;
    text-align: left;
    display: inline-block;
    padding: 32px;
    width: auto;
    background: #1c1c1c;
    color: #fefaec;
    margin: auto;

    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
}


footer+section {
  width: 600px;
  background-color: red;
  height: 100px;
  height: 200px;
}

footer+section {
  background-color: blue;


  @media (max-width: 1000px) {
    background-color: green;

    a {
      font-weight: bold;
    }
  }
}


@media (max-width: 1000px) {
  footer+section {
    background-color: red;
  }

  a {
    font-weight: bold;
  }
}