.banner {
  position: relative;
}

h2 {
  color: white;
  text-align: center;
  top: 50%;
  width: 100%;
  position: absolute;
}

h3 {
  color: white;
}

.banner-2 {
  background-color: blue;
}

h4 {
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 25px;
  width: 90%;
}

.linkuri-acces a {
  display: block;
}
