* {
  padding: 0;
  margin: 0; }

.skills {
  height: 560px;
  padding: 96px 80px; }
  .skills .container {
    height: 368px;
    padding: 0px 32px; }
    .skills .container .row {
      justify-content: center; }
      .skills .container .row .first {
        width: 75px;
        height: 28px;
        border-radius: 12px;
        padding: 4px 20px;
        background-color: #E5E7EB;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        font-family: "Inter", sans-serif;
        color: #4B5563;
        text-align: center;
        margin-bottom: 20px; }
      .skills .container .row h4 {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #4B5563; }
    .skills .container .technologies {
      margin-top: 44px;
      display: flex;
      flex-direction: column;
      gap: 48px; }
      .skills .container .technologies .upper {
        display: flex;
        justify-content: space-between;
        padding: 0; }
        .skills .container .technologies .upper .tech {
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 8px; }
          .skills .container .technologies .upper .tech:nth-child(5) img {
            width: 56px; }
          .skills .container .technologies .upper .tech img {
            width: 64px;
            height: 64px; }
          .skills .container .technologies .upper .tech p {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            margin-bottom: 0;
            color: #4B5563; }
      .skills .container .technologies .bottom {
        display: flex;
        justify-content: space-between;
        padding: 0; }
        .skills .container .technologies .bottom .tech {
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 8px; }
          .skills .container .technologies .bottom .tech:nth-child(2) img {
            width: 30px; }
          .skills .container .technologies .bottom .tech:nth-child(4) img {
            width: 103px; }
          .skills .container .technologies .bottom .tech:nth-child(5) img {
            width: 43px; }
          .skills .container .technologies .bottom .tech img {
            width: 64px;
            height: 64px; }
          .skills .container .technologies .bottom .tech p {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            margin-bottom: 0;
            color: #4B5563; }
