* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.work-section {
  margin: 96px 0;

  img {
    width: 100%;
  }

  span {
    font-size: 14px;
    font-weight: 500;
    color: #4b5563;
  }

  .work-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .secondary-heading {
    // text-align: center;
    font-size: 20px;
    color: #4b5563;
    font-weight: 400;
    margin-bottom: 48px;
  }
}

.badge {
  padding: 4px 20px 4px 20px;
  background-color: #e5e7eb;
  border-radius: 12px;
}

.work-main-part {
  display: flex;

  .left-part,
  .right-part {
    padding: 48px;
  }

  .left-part {
    background-color: #f9fafb;
    box-shadow: 0px 4px 3px 0px #00000012;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right: 1px #f3f4f6;
    flex: 1;
  }

  .right-part {
    box-shadow: 0px 4px 3px 0px #0000000f;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    gap: 24px;
    border-bottom-right-radius: 12px;
    flex: 1;

    .interior-heading-work {
      font-size: 20px;
      font-weight: 600;
      color: #111827;
    }

    .work-text {
      font-weight: 400;
      color: #4b5563;
    }

    .multiple-badge {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 8px;
      column-gap: 8px;
    }

    .export-icon {
      width: 36px;
      height: 36px;
    }
  }
}
