* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 60px;

  nav {
    height: 50px;
  }

  nav ul li {
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    color: #dc0028;
  }

  .separator {
    padding-right: 10px;
    display: inline-block;
    border-left: 2px solid #ededed;
  }

  .fa.fa-user-o {
    padding: 10px;
  }
}

.header-border {
  border-bottom: 2px solid #ededed;
}

.links-wrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // gap: 150px;
  img {
    height: 48px;
  }

  .links a {
    color: black;
    text-decoration: none;
    font-size: 15px;
  }

  .links {
    display: flex;
    gap: 20px;

    &>* {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .fa-search {
    color: red;
  }

  .sub-meniu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.16);
    left: 0;
    right: 0;
    top: 70px;
    padding: 40px 200px;

    a {
      display: block;
    }
  }

  .link-item:hover {
    color: grey;

    .sub-meniu {
      display: block;
    }
  }
}

.eagle {
  width: 100%;
}

.relative-wrapper {
  position: relative;
}