.banner {
  position: relative;
}

.titlu-pagina {
  color: white;
  text-align: center;
  top: 50%;
  width: 100%;
  position: absolute;
}

h3 {
  color: white;
}

.banner-2 {
  background-color: #1d73e0;
  padding: 30px 0;
}

h4 {
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 25px;
  width: 90%;
}

.linkuri-acces a {
  display: block;
}

.buton-stiri {
  position: absolute;
  background-color: gray;
  top: 20px;
  right: 10px;
}

.stiri-art {
  position: relative;
  width: 400px;

  img {
    width: 100%;
    transition: 0.4s ease transform;
  }

  &:hover {
    img {
      transform: scale(1.2);
    }

    box-shadow: 0 0 5px gray;
  }

  .wrapper {
    overflow: hidden;
  }
}

.pozemagic {
  margin-bottom: 5%;

  img {
    width: 50%;
  }

  #img2 {
    margin-left: -10px;
  }
}

section {
  display: flex;
  height: 450px;
  margin-bottom: 10%;

  .stanga {
    width: 50%;
    background-size: cover;
    background-position: center;
    // background-color: blue;
    background-image: url(https://www.brasovcity.ro/img/continut/box-video/video-bg1.jpg);
  }

  .dreapta {
    background-position: center;
    background-size: cover;
    background-image: url(https://www.brasovcity.ro/img/continut/box-video/video-bg2.jpg);
    width: 50%;
    // background-color: red;
  }
}

.sectiune-acces-rapid {
  padding-top: 80px;
  padding-bottom: 80px;

  h1 {
    margin-bottom: 50px;
  }
}