*{
    font-family: sans-serif;
}
.produse {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.card {
  width: 200px;
  padding: 30px;
  border: 1px solid #ededed;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.12);
}
